@import url(https://fonts.googleapis.com/css?family=Mukta:200,300,regular,500,600,700,800);

// Typography
$bodyFont: "Mukta", sans-serif;

$lightWeight: 400;
$mediumWeight: 600;
$heavyWeight: 700;

// Color
$green: #00653e;
$paleGreen: #d4e9e2;
$grey: #3e3e3e;
$lightGrey: #6c6c6c;